footer {
    width: 100vw;

    background: #F1EDE9;
}


.footer {
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    gap: 40px;
    padding: 32px;
    text-align: right;
}

#logo-rodape {
    width: 142px;
    height: 53px;
}

#rodape {
    display: flex;
    align-items: center;
    gap: 16px;
}