footer {
    width: 100vw;
    background: #F1EDE9;
}


.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
    text-align: center;
}

#logo-rodape {
    width: 107px;
    height: 40px;
}

#rodape-texto {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

#rodape-icons {
    display: flex;
    gap: 16px;
}